.intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("/imgs/Background_Intro.png");
  background-size: cover;
  background-position: center;
  height: 750px;
  padding-top: 120px;
  padding-bottom: 56px;
}

.avatar {
  width: 112px;
  height: 112px;
  margin-bottom: 3.5rem;
}

.subtitle span {
  color: var(--red);
}

.intro-text {
  color: var(--gray-300);
  margin-bottom: 5rem;
}

.tecnologias {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.tecnologia {
  display: flex;
  align-items: center;
  background-color: var(--gray-400);
  padding: 8px 16px;
  border-radius: 50px;
  gap: 8px;
  margin-bottom: 94px;
}

.tecnologia p {
  color: var(--gray-200);
  font-size: var(--text-sm);
  font-family: var(--font-body-family);
  margin: 0;
}

.tecnologia img {
  width: 24px;
  height: 24px;
}

.icon-html {
  filter: invert(33%) sepia(85%) saturate(5043%) hue-rotate(343deg)
    brightness(97%) contrast(90%);
}

.icon-css {
  filter: invert(52%) sepia(48%) saturate(718%) hue-rotate(167deg) brightness(91%) contrast(91%);
}


@media (max-width: 768px) {
  .intro-section {
    min-height: auto;       
    padding-top: 80px;      
    padding-bottom: 40px;
    padding: 4px;
  }

  .intro-text {
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: var(--title-md);
  }

  .tecnologias {
    margin-bottom: 2rem;
  }
  
  .tecnologia {
  margin-bottom: 0;
  }
}