* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Principal */
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;

    /* Base */
    --gray-100: #E2E4E9;
    --gray-200: #C0C4CE;
    --gray-300: #878EA1;
    --gray-400: #292C34;
    --gray-500: #16181D;
    --gray-600: #0D0E11;


    /* Tipografia */
    /* Famílias de Fontes (Font Family) */
    --asap-family: "Asap", sans-serif;
    --inconsolata-family: "Inconsolata", monospace;
    --mavenpro-family:  "Maven Pro", sans-serif;

    /* Tamanhos de Fonte (Font Size) */
    --title-lg: 3.5rem;
    --title-md: 1.5rem;
    --title-sm: 1.25rem; 
    --text-md: 1rem;
    --text-sm: 0.875rem;

    /* Altura de Linha (Line Height) */
    --lh-tight: 120%;
    --lh-base: 140%;

    /* Pesos de Fonte (Font Weight) */
    --weight-regular: 400;
    --weight-bold: 700;

    /* Mapeamento Semântico (Tokens de Decisão) */
    --font-title-family: var(--asap-family);
    --font-body-family: var(--mavenpro-family);
    --font-code-family: var(--inconsolata-family);
}

body {
    background-color: var(--gray-500);
    color: var(--gray-100);
    -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: var(--title-lg);
  color: var(--gray-100);
  font-family: var(--font-title-family);
  margin-bottom: 1.25rem;
}

h2 {
  font-size: var(--title-md);
  font-family: var(--font-title-family);
  /* margin-bottom: 3.5rem; */
  font-weight: var(--weight-bold);
}

h3 {
  font-size: var(--text-md);
  font-family: var(--font-title-family);
  margin-bottom: .5rem;
  font-weight: var(--weight-bold);
}

.subtitle {
  color: var(--gray-200);
  font-family: var(--font-code-family);
  margin-bottom: .5rem;
}

.subtitle-destaque {
    color: var(--red);
    margin-bottom: .5rem;
}

p {
  line-height: var(--lh-base);
  font-family: var(--font-title-family);
}

@media (max-width: 768px) {
  h2 {
    text-align: center;
  }
}