.servicos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 5rem 2rem;
  background-color: var(--gray-600);
}

.servicos-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1200px;
  gap: 2rem;
  width: 100%;
  margin-top: 3.5rem;
}

.servico {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 12px;
  border: 2px solid var(--gray-500);
  padding: 20px;
}

.servico img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.servico-texto {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.servico-texto h3 {
  font-size: var(--title-sm);
  color: var(--gray-100);
  font-family: var(--font-title-family);
}

.servico-texto p {
  font-size: var(--text-sm);
  color: var(--gray-200);
  line-height: var(--lh-base);
}

@media (max-width: 968px) {
  .servicos-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .servicos-container {
    grid-template-columns: 1fr;
  }
}
